In [ ]:
#string formatting
name="jayaram"
age=5
height=2.45676543
weight=19.234235
#jayaram is 5 year old, his height:2.46FEET weight:19.23KG
print(name,"is",age,'year old, his height:'+str(round(height,2))+"FEET weight:"+str(round(weight,2)))

In [1]:
cost=20
name="apple"
# the cost of apple is 20
print("ths cost of "+name+" is",cost)

ths cost of apple is 20

In [2]:
cost=20
name="apple"
# the cost of apple is 20
print("ths cost of "+name+" is",cost)
print(f"the cost of name is cost")

ths cost of apple is 20
the cost of name is cost

In [3]:
cost=20
name="apple"
# the cost of apple is 20
print("ths cost of "+name+" is",cost)
print(f"the cost of {name} is {cost}")# template string/ f strings.

ths cost of apple is 20
the cost of apple is 20

In [4]:
#string formatting
name="jayaram"
age=5
height=2.45676543
weight=19.234235
#jayaram is 5 year old, his height:2.46FEET weight:19.23KG
print(name,"is",age,'year old, his height:'+str(round(height,2))+"FEET weight:"+str(round(weight,2)))
print(f"{name} is {age} year old, his height:{height}FEET weight:{weight}KG")

jayaram is 5 year old, his height:2.46FEET weight:19.23
jayaram is 5 year old, his height:2.45676543FEET weight:19.234235KG

In [5]:
#string formatting
name="jayaram"
age=5
height=2.45676543
weight=19.234235
#jayaram is 5 year old, his height:2.46FEET weight:19.23KG
print(name,"is",age,'year old, his height:'+str(round(height,2))+"FEET weight:"+str(round(weight,2)))
print(f"{name} is {age} year old, his height:{round(height,2)}FEET weight:{round(weight,2)}KG")

jayaram is 5 year old, his height:2.46FEET weight:19.23
jayaram is 5 year old, his height:2.46FEET weight:19.23KG

In [ ]:
#string formatting
name="jayaram"
age=5
height=2.45676543
weight=19.234235
#jayaram is 5 year old, his height:2.46FEET weight:19.23KG
print(name,"is",age,'year old, his height:'+str(round(height,2))+"FEET weight:"+str(round(weight,2)))
print(f"{name} is {age} year old, his height:{round(height,2)}FEET weight:{round(weight,2)}KG")
#format specifiers

In [6]:
cost=20
name="apple"
# the cost of apple is 20
print("ths cost of "+name+" is",cost)
print(f"the cost of {name} is {cost}")# template string/ f strings.
print("the cost of %s is %s",(name, cost))

ths cost of apple is 20
the cost of apple is 20
the cost of %s is %s ('apple', 20)

In [7]:
cost=20
name="apple"
# the cost of apple is 20
print("ths cost of "+name+" is",cost)
print(f"the cost of {name} is {cost}")# template string/ f strings.
print("the cost of %s is %s"%(name, cost))

ths cost of apple is 20
the cost of apple is 20
the cost of apple is 20

In [ ]:
#%d, %f, %r, %x,%o,%X

In [8]:
cost=20.34567
name="apple"
# the cost of apple is 20
print("ths cost of "+name+" is",cost)
print(f"the cost of {name} is {cost}")# template string/ f strings.
print("the cost of %s is %s"%(name, cost))

ths cost of apple is 20.34567
the cost of apple is 20.34567
the cost of apple is 20.34567

In [9]:
cost=20.34567
name="apple"
# the cost of apple is 20
print("ths cost of "+name+" is",cost)
print(f"the cost of {name} is {cost}")# template string/ f strings.
print("the cost of %s is %s"%(name, int(cost)))

ths cost of apple is 20.34567
the cost of apple is 20.34567
the cost of apple is 20

In [10]:
cost=20.34567
name="apple"
# the cost of apple is 20
print("ths cost of "+name+" is",cost)
print(f"the cost of {name} is {cost}")# template string/ f strings.
print("the cost of %s is %d"%(name, cost))

ths cost of apple is 20.34567
the cost of apple is 20.34567
the cost of apple is 20

In [11]:
cost=20.34567
name="apple"
# the cost of apple is 20
print("ths cost of "+name+" is",cost)
print(f"the cost of {name} is {cost}")# template string/ f strings.
print("the cost of %s is %f"%(name, cost))

ths cost of apple is 20.34567
the cost of apple is 20.34567
the cost of apple is 20.345670

In [ ]:
cost=20.34567
name="apple"
# the cost of apple is 20
print("ths cost of "+name+" is",cost)
print(f"the cost of {name} is {cost}")# template string/ f strings.
print("the cost of %s is %f"%(name, cost))

In [12]:
cost=20
print("%f"%cost)

20.000000

In [13]:
n=23.45
print("%f"%n)

23.450000

In [15]:
n=23.45623456
print("%.2f"%n)

23.46

In [16]:
n=23.45623456
print("%s"%float(n))

23.45623456

In [17]:
n=23.45623456
print("%f"%n)

23.456235

In [18]:
n=23.45623456
print("%.2f"%n)

23.46

In [19]:
n=23
print("%.2f"%n)

23.00

In [21]:
n=23
print("%s"%float(n))

23.0

In [22]:
#string formatting
name="jayaram"
age=5
height=2.45676543
weight=19.234235
#jayaram is 5 year old, his height:2.46FEET weight:19.23KG
print(name,"is",age,'year old, his height:'+str(round(height,2))+"FEET weight:"+str(round(weight,2)))
print(f"{name} is {age} year old, his height:{round(height,2)}FEET weight:{round(weight,2)}KG")
print("%s is %s year old, his height:%.2fFEET weight:%.2fKG"%(name, age, height, weight))

jayaram is 5 year old, his height:2.46FEET weight:19.23
jayaram is 5 year old, his height:2.46FEET weight:19.23KG
jayaram is 5 year old, his height:2.46FEET weight:19.23KG

In [23]:
st = "dsfsd\nsfsd\tsdfds\nsdfds"
print(st)
print("%s"%st)

dsfsd
sfsd	sdfds
sdfds
dsfsd
sfsd	sdfds
sdfds

In [24]:
st = "dsfsd\nsfsd\tsdfds\nsdfds"
print(st)
print("%s"%st)
print("%r"%st)

dsfsd
sfsd	sdfds
sdfds
dsfsd
sfsd	sdfds
sdfds
'dsfsd\nsfsd\tsdfds\nsdfds'

In [25]:
a=1234
print("%x"%a)

4d2

In [26]:
a=1234
print("%x"%a)
print("%o"%a)

4d2
2322

In [1]:
percentage=10
name="jayaram"
#jayaram got 10% marks in MATHS
print("%s got %s% marks in MATHS"%(name, percentage))

TypeError: not enough arguments for format string

In [2]:
percentage=10
name="jayaram"
#jayaram got 10% marks in MATHS
print("%s got %s'%' marks in MATHS"%(name, percentage))

TypeError: not enough arguments for format string

In [4]:
percentage=10
name="jayaram"
#jayaram got 10% marks in MATHS
print('%s got %s"%" marks in MATHS'%(name, percentage))

TypeError: not enough arguments for format string

In [5]:
percentage=10
name="jayaram"
#jayaram got 10% marks in MATHS
print("%s got %s\% marks in MATHS"%(name, percentage))

TypeError: not enough arguments for format string

In [6]:
percentage=10
name="jayaram"
#jayaram got 10% marks in MATHS
print("%s got %s%% marks in MATHS"%(name, percentage))

jayaram got 10% marks in MATHS

In [7]:
number=10
print(f"the number: {number}")

the number: 10

In [8]:
number=10
print(f"the number: {number:f}")

the number: 10.000000

In [9]:
number=10
print(f"the number: {number:.2f}")

the number: 10.00

In [10]:
#string formatting
name="jayaram"
age=5
height=2.45676543
weight=19.234235
#jayaram is 5 year old, his height:2.46FEET weight:19.23KG
print(name,"is",age,'year old, his height:'+str(round(height,2))+"FEET weight:"+str(round(weight,2)))
print(f"{name} is {age} year old, his height:{round(height,2)}FEET weight:{round(weight,2)}KG")
print("%s is %s year old, his height:%.2fFEET weight:%.2fKG"%(name, age, height, weight))
print(f"{name} is {age} year old, his height:{height:.2f}FEET weight:{weight:.2f}KG")

jayaram is 5 year old, his height:2.46FEET weight:19.23
jayaram is 5 year old, his height:2.46FEET weight:19.23KG
jayaram is 5 year old, his height:2.46FEET weight:19.23KG
jayaram is 5 year old, his height:2.46FEET weight:19.23KG