In [1]:
a=10
b=20
print(a+b)

30

In [2]:
a=input("Enter a value:")
print(a, type(a))

Enter a value:123
123 <class 'str'>

In [3]:
a=123
print(a, type(a))

123 <class 'int'>

In [4]:
a='123'
print(a, type(a))

123 <class 'str'>

In [5]:
a=123
b=str(a)
print(b, type(b))

123 <class 'str'>

In [6]:
a=input("Enter a value:")
print(a, type(a))

Enter a value:12.34
12.34 <class 'str'>

In [7]:
a=input("Enter a value:")
print(a, type(a))

Enter a value:[1,2,3,4]
[1,2,3,4] <class 'str'>

In [8]:
a=input("Enter a value:")
print(a, type(a))

Enter a value:1+2j
1+2j <class 'str'>

In [9]:
a=input("Enter a vlue:")
b=input("Enter b value:")
print(a+b)

Enter a vlue:10
Enter b value:20
1020

In [10]:
a=input("Enter a vlue:")
b=input("Enter b value:")
print(a, type(a))
print(b, type(b))
print(a+b)

Enter a vlue:10
Enter b value:20
10 <class 'str'>
20 <class 'str'>
1020

In [11]:
a="10"
b='20'
print(a+b)

1020

In [12]:
a=10
b=20
print(a+b)

30

In [13]:
s="123"
print(s, type(s))

123 <class 'str'>

In [14]:
s="123"
print(s, type(s))
s1=int(s)
print(s1, type(s1))

123 <class 'str'>
123 <class 'int'>

In [15]:
s="12.34"
print(int(s))

ValueError: invalid literal for int() with base 10: '12.34'

In [16]:
s="12.34"
print(s, type(s))
s1=float(s)
print(s1, type(s1))

12.34 <class 'str'>
12.34 <class 'float'>

In [17]:
s="12"
print(s, type(s))
s1=float(s)
print(s1, type(s1))

12 <class 'str'>
12.0 <class 'float'>

In [18]:
a=input("Enter a vlue:")
b=input("Enter b value:")
a=float(a)
b=float(b)
print(a+b)

Enter a vlue:10
Enter b value:23.45
33.45