In [1]:
print("hello")

hello

In [2]:
a=1000
b=2000
print(ab)

NameError: name 'ab' is not defined

In [3]:
a=1000
b=2000
print(a)

1000

In [4]:
a=1000
b=2000
print(a,b)

1000 2000

In [5]:
a=1000
b=2000
print(a;b)

SyntaxError: invalid syntax (<ipython-input-5-0d8a7597bd70>, line 3)

In [6]:
a=1000
b=2000
print(a,b,sep=";")

1000;2000

In [7]:
print("hyderabad")
print("banglore")
print("chennai")

hyderabad
banglore
chennai

In [8]:
print("hyderabad","banglore","chennai")

hyderabad banglore chennai

In [9]:
print("hyderabad\nbanglore\nchennai")

hyderabad
banglore
chennai

In [10]:
print("hyderabad\nbanglore\nchennai\tmumbai")

hyderabad
banglore
chennai	mumbai

In [11]:
s="sfdsf\nsdfsdf\nsdfsd\nsdfdsfds\tsdfdsf\nfsdfds\tfsdfds\nfsdfsd\t\nsdfsdf\tsdfdsf\tsdfdsfs\n"
print(s)

sfdsf
sdfsdf
sdfsd
sdfdsfds	sdfdsf
fsdfds	fsdfds
fsdfsd
sdfsdf	sdfdsf	sdfdsfs

In [12]:
s="sfdsf\\nsdfsdf\\nsdfsd\nsdfdsfds\tsdfdsf\nfsdfds\tfsdfds\nfsdfsd\t\nsdfsdf\tsdfdsf\tsdfdsfs\n"
print(s)

sfdsf\nsdfsdf\nsdfsd
sdfdsfds	sdfdsf
fsdfds	fsdfds
fsdfsd
sdfsdf	sdfdsf	sdfdsfs

In [13]:
s=r"sfdsf\nsdfsdf\nsdfsd\nsdfdsfds\tsdfdsf\nfsdfds\tfsdfds\nfsdfsd\t\nsdfsdf\tsdfdsf\tsdfdsfs\n"
print(s)

sfdsf\nsdfsdf\nsdfsd\nsdfdsfds\tsdfdsf\nfsdfds\tfsdfds\nfsdfsd\t\nsdfsdf\tsdfdsf\tsdfdsfs\n

In [14]:
# operator precedency..
a=10+20/5
print(a)

14.0

In [15]:
a=(10+20)/5
print(a)

6.0

In [16]:
a=10
b=20
print(a+b**2)

410

In [17]:
a=10
b=20
print((a+b)**2)

900

In [ ]:
#asq+bsq+2ab
#a+b whole qube
#aq+bq+3ab of a+b
#aq+bq+3asqb+3absq

In [1]:
a=10
b=20
print(a**2+b**2+2*a*b)
print(a**3+b**3+3*a**2*b+3*a*b**2)
print(a**3+b**3+3*a*b*(a+b))

900
27000
27000

In [2]:
res=10+20/5
print(res)

14.0

In [4]:
res=10000/100/20/10
print(res)

0.5

In [5]:
res=10000/(100/(20/10))
print(res)

200.0

In [6]:
#string formatting
name="jayaram"
age=5
height=2.45676543
weight=19.234235
#jayaram is 5 year old, his height:2.46FEET weight:19.23KG
print(name,"is",age)

jayaram is 5

In [7]:
#string formatting
name="jayaram"
age=5
height=2.45676543
weight=19.234235
#jayaram is 5 year old, his height:2.46FEET weight:19.23KG
print(name,"is",age,'year old, his height:',height)

jayaram is 5 year old, his height: 2.45676543

In [8]:
#string formatting
name="jayaram"
age=5
height=2.45676543
weight=19.234235
#jayaram is 5 year old, his height:2.46FEET weight:19.23KG
print(name,"is",age,'year old, his height:'+height)

TypeError: can only concatenate str (not "float") to str

In [9]:
#string formatting
name="jayaram"
age=5
height=2.45676543
weight=19.234235
#jayaram is 5 year old, his height:2.46FEET weight:19.23KG
print(name,"is",age,'year old, his height:'+str(height))

jayaram is 5 year old, his height:2.45676543

In [ ]:
#string formatting
name="jayaram"
age=5
height=2.45676543
weight=19.234235
#jayaram is 5 year old, his height:2.46FEET weight:19.23KG
print(name,"is",age,'year old, his height:'+str(height))

In [10]:
round(1.23456,2)

1.23

In [12]:
#string formatting
name="jayaram"
age=5
height=2.45676543
weight=19.234235
#jayaram is 5 year old, his height:2.46FEET weight:19.23KG
print(name,"is",age,'year old, his height:'+str(round(height,2)))

jayaram is 5 year old, his height:2.46

In [13]:
#string formatting
name="jayaram"
age=5
height=2.45676543
weight=19.234235
#jayaram is 5 year old, his height:2.46FEET weight:19.23KG
print(name,"is",age,'year old, his height:'+str(round(height,2))+"FEET weight:"+str(round(weight,2)))

jayaram is 5 year old, his height:2.46FEET weight:19.23

In [14]:
a=input("enter a value:")
print(a, type(a))

enter a value:23
23 <class 'str'>

In [ ]:
a=input("enter a value wer:")
print(a, type(a))